* {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#greetingfontfun {
    size: 200px;
    margin: 20px 0;
}

body {
    background-color: #171718;
}

.grey {
    background-color: rgb(53, 52, 52);
    width: 100vw;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.normal-image { 
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    overflow-y: auto;
    z-index: 2;
}

.overlay-text p {
    font-size: 16px; 
}

.spacer {
    height: 50px;
}


.link {
    border: 10px solid transparent;
    height: 50px;
}